*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --color  : white;
}
body
{
    background-image: url("/media/background1.jpg");  
}


.carousel {
    
    position: absolute;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-6%, -40%);
    color: white; /* Optional: Text color */
    width: 80%; /*Optional: Adjust width as needed */
    text-align: center; /* Optional: Center text horizontally */
    
  }

.display-1
{
    color:black
}
.novelMainBody{
    display: grid;
    justify-content: center;
    align-items: center;
}

.mainImage{
    height: 650px;
    width:100%;
}
.carousel_img
{
    height: 300px;
    width: 200px;
    transition: transform 0.3s ease; 
}

#icon {
    padding-left: 25px;
    background: url("/media/magnifying-glass.png") no-repeat right;
    background-size: 20px;
  }


#accountIcon:hover{
    color: var(--color);
}

#navMob{
    display: none;
}

hr{
    width:  100%;
    background-color: var(--color);
    display: none;
    visibility: hidden;
}
.navbar-nav a{
    font-size: 20px;
}

.navbar .col-md-2{
    padding-left: 60px;
}

.carousel-item{
    justify-content: space-between;
}

.carouselBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselTitle{
    display: flex;
    justify-content: center;
    align-items: end;
}

.carouselBody .row{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.main_carousel1
{
    height:600px;
    width:100%;
    opacity: 0.7;
    z-index: -1;
    position: absolute;

    filter: blur(1px);
    -webkit-filter: blur(3px);
}


.carousel-inner .carousel_img:hover {
    border: 3px solid var(--color);
    border-radius: 3%;
    opacity: 0.5;
    z-index: 1;
    transform: translate(0px, -25px);
}

/* .carousel_main_img{
    opacity: 0.7;
    color: black;

} */

input{
    background-color:rgb(206, 196, 196);
}


.viewAll_button
{
    color: black;
}

.carousel-control-prev,.carousel-control-next{
    height: 30px;
    width: 30px;
    background-color:grey;
    margin-top: 150px;
}

.outerCarouselDiv>div{
    margin:160px;
}

.outerCarouselDiv-items{
    border:1px solid green; 
    height: 500px; 
    width: 900px; 
    box-shadow:10px 10px 10px rgb(107, 104, 104)    
}

.viewall{
    display:flex ; 
    justify-content:end ; 
    align-items: center; 
    height: 50px;
}
.viewall button:hover a{
    color:white;
}

@media only screen and (orientation:portrait){
    hr{
        display: inline-block;
        visibility: visible;
    }
    #navMob{
        display: flex;
    }
    #navLap{
        display: none;
    }
    .navbar-nav a{
        font-size: 18px;
        padding-left: 10px;
    }
    
}


/* This is for animation of h1  by  reveal-text */
/* :root {
    --delay: 0;
    --duration: 800ms;
    --iterations: 1;
  }
  
  
  
  .reveal-text,
  .reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .reveal-text {
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-size: 10vw;
    animation-name: clip-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default;
    
    &::after {
      content: "";
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f2f98b;
      transform: scaleX(0);
      transform-origin: 0 50%;
      pointer-events: none;
      animation-name: text-revealer;
    }
    
  }
  
  
  @keyframes clip-text {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  
  @keyframes text-revealer {
    
    0%, 50% {
      transform-origin: 0 50%;
    }
    
    60%, 100% {
      transform-origin: 100% 50%;   
    }
  
    
    60% {
      transform: scaleX(1);
    }
    
    100% {
      transform: scaleX(0);
    }
  } */
  